section(id=htmlBlockId)
  div(class="demo-crumbs mdl-color-text--grey-500")= fileName
  h3= itemTitle
  h4 Properties
  ul
    each val in props
      li= val
  h4 Methods
  ul
    each val in methods
      li= val
  h4 Usage
  br
  code= componentCode
  br
  br
  hr
