section(id=htmlBlockId)
  div(class="demo-crumbs mdl-color-text--grey-500")= fileName
  h3= itemTitle
  //Properties
  if props.length
    h4 Properties
    ul
      each val in props
        li= val
  //Methods
  if methods.length
    h4 Methods
    ul
      each val in methods
        li= val
  //Usage
  h4 Usage
  code= componentCode
  //Readme
  if readmeHTML
    h4 Readme
    section(class="readme-text")
      !=readmeHTML
